.img-responsive {
    margin-bottom: 15px;
}

body {
	background: url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/10/106/106396/keih4mm9pyv3kpq8scymlnub2aecxzs9iscdane82nvbmfcc3leqqh7pjk0adoki-o.jpg?1399222056');
	margin: 0;
	font-family: "Cabin", sans-serif;
}

h3 {
	margin-bottom: 25px;
}

h1 {
	font-family: "Molengo", sans-serif;
	font-size: 50px;
	color: #E91E63;
}

h2, h3, h4, h5, h6 {
	font-family: "Lobster", cursive;
}

.selector {
	background-color: rgba(96,125,139,0.7);
	margin-bottom: 10px;
	color: #212121;
	border-radius: 15px;
}

p {
	color: white;
}

.navbar {
	background: rgba(207,216,220,0.9);
	height: 60px;
	border: 0;
}

.navbar-header .navbar-brand {
	padding: 5px;
}

.navbar-fixed-bottom {
	background: rgba(69,90,100,0.9);
	height: 50px;
	border: 0;
	margin-top: 50px;
}

.input-group {
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn {
	height: 33.9915px;
}

.btn-primary, .btn-info, .btn-danger, .btn-success {
	margin-bottom: 5px;
}

#name {
	margin-bottom: 5px;
	background-color: #F7F7B5;
}
