<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Viewer</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<script type="text/javascript" src = "../public/application2.js"></script>

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

		<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>

		<link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css"> -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href = "../public/custom.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
			      <img alt="Recipz" src="http://i.imgur.com/BtGbezO.png" height="50">
			    </a>
				</div>
				<ul class="nav navbar-nav navbar-right">
				  <li><a href="signPage"><i class="fa fa-sign-in fa-2x"></i></a></li>
				  <li id="logout"><a href="/"><i class="fa fa-sign-out fa-2x"></i></a></li>
				</ul>
			</div>
		</nav>
		<div id="recipes" class="container col-sm-offset-1 col-sm-10 col-xs-12 text-center">
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">
	        <i class="fa fa-facebook-square fa-lg"></i>
	      </a>
				<a class="navbar-brand" href="#">
	        <i class="fa fa-linkedin-square fa-lg"></i>
	      </a>
				<a class="navbar-brand" href="#">
	        <i class="fa fa-twitter-square fa-lg"></i>
	      </a>		  
		  </div>
		</nav>
	</body>
</html>