<!DOCTYPE html>
<html>
	<head>
		<title>Find Recipes</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<script type="text/javascript" src = "../public/findTerms.js"></script>

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

		<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>

		<link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href = "../public/custom.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
			      <img alt="Recipz" src="http://i.imgur.com/BtGbezO.png" height="50">
			    </a>
				</div>
				<ul class="nav navbar-nav navbar-right">
				  <li id="logout"><a href="/"><i class="fa fa-sign-out fa-2x"></i></a></li>
				</ul>
			</div>
		</nav>
		<div class="container col-xs-12 text-center">
			<h1>Find recipes!</h1>
			<h3>Find delicious recipes by search!</h3>
		</div>
		<div class="container selector col-sm-offset-2 col-sm-8 col-xs-12 text-center">
			<div class="col-xs-12 input-group">
			  <span class="input-group-addon" id="basic-addon1">Search</span>
			  <input type="text" id="searchterms" class="form-control" placeholder="Type in your search term" aria-describedby="basic-addon1">
			  <span class="input-group-btn">
		      <button class="btn btn-default" id="submitTerms" type="button">Enter</button>
		    </span>
			</div>
		</div>
		<div id="recipes" class="container col-sm-offset-2 col-sm-8 col-xs-12 text-center">
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">
	        <i class="fa fa-facebook-square fa-lg"></i>
	      </a>
				<a class="navbar-brand" href="#">
	        <i class="fa fa-linkedin-square fa-lg"></i>
	      </a>
				<a class="navbar-brand" href="#">
	        <i class="fa fa-twitter-square fa-lg"></i>
	      </a>		  
		  </div>
		</nav>
	</body>
</html>