<!DOCTYPE html>
<html>
	<head>
		<title>Ingredient Matcher</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<script type="text/javascript" src = "../public/ingredientMatcher.js"></script>

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

		<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>

		<link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href = "../public/custom.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
			        	<img alt="Recipz" src="http://i.imgur.com/BtGbezO.png" height="50">
			      	</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
				    <li><a href="signPage">Sign Up/Sign In</a></li>
				    <li id="logout"><a href="index">Logout</a></li>
				</ul>
			</div>
		</nav>
		<div class="container col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8 text-center">
			<h1>Ingredient Matcher</h1>
			<h3>Find what recipes you can make with your leftover ingredients!</h3>
		</div>
		<div class="container selector col-sm-offset-2 col-sm-8 col-xs-12 text-center">
			<div id="ingredients">
				<div class="col-xs-12 input-group" id="ingredient1">
				  <span class="input-group-addon" id="basic-addon1">Ingredient</span>
				  <input type="text" class="form-control" placeholder="Type in your ingredient" aria-describedby="basic-addon1">
				</div>
			</div>
			<button type="button" id="addIngredient" class="btn btn-info">Add Ingredient</button>
			<button type='button' id='removeIngredient' class='btn btn-danger'>Remove Ingredient</button>
		</div>
		<div class="container col-xs-12 text-center center-block">
			<button class="btn btn-success" id="submitIngredients" type="button">Submit</button>
		</div>
		<div id="recipes" class="container col-sm-offset-2 col-sm-8 col-xs-12 text-center">
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">
	        	<img alt="Facebook" src="http://www.dal.ca/content/dam/dalhousie/images/law/Alumni/Reunions/law_alumni_reunion_fb.png">
	      	</a>
			<a class="navbar-brand" href="#">
	        	<img alt="LinkedIn" src="https://www.ashoka.org/sites/www.ashoka.org/files/linkedin_logo-25x25.png">
	      	</a>
			<a class="navbar-brand" href="#">
	        	<img alt="Twitter" src="http://hsff2015.com/Content/Images/TwitterLogo25x25.png">
	      	</a>		  
		  </div>
		</nav>
	</body>
</html>